# ==============================
# DJANGO / PYTHON
# ==============================

__pycache__/
*.py[cod]
*.pyo

# Entorno virtual
.venv/
venv/


# ==============================
# VARIABLES DE ENTORNO
# ==============================

.env
.env.*
!.env.example


# ==============================
# PYCHARM
# ==============================

.idea/
*.iml


# ==============================
# ARCHIVOS GENERADOS POR IA
# ==============================

ai_agent/persistence/memoria_chat-db
app/vectorstore/


# ==============================
# SISTEMA OPERATIVO
# ==============================

.DS_Store
Thumbs.db